#container {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;  
  overflow: hidden;
}
.page_content {
  width: 800px;
  height: 600px;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
  position: absolute;
}
